<!-- dashboard-side-menu.component.html -->
<div class="dashboard-side-menu">
    <ul class="list-unstyled">
      <li class="menu-title">لوحة التحكم</li>
      <li><a [routerLink]="['/dashboard']"><img src="assets/img/icons/dashboard.svg" alt=""> لوحة التحكم</a></li>
      <li><a [routerLink]="['/forms']"><img src="assets/img/icons/forms-icon.svg" alt=""> النماذج</a></li>
      <li><a [routerLink]="['/profile']"><img src="assets/img/icons/profile.svg" alt=""> الملف الشخصي</a></li>
      <li><a [routerLink]="['/settings']"><img src="assets/img/icons/settings.svg" alt=""> الإعدادات</a></li>
      <li><a [routerLink]="['/help']"><img src="assets/img/icons/help.svg" alt=""> المساعدة</a></li>
    </ul>
  </div>
  