<section class="academy_inner_page">
    <div class="inner_banner">
        <img src="inner-header.png" alt="">
    </div>
    <div class="container">
        <div class="sm_inner_header">
            <div class="breadcrumb_inner">
                <ul>
                    <li class="link_page"><a href="">الرئيسية</a> <img src="arrow_bread.svg" alt=""></li>
                    <li class="link_page"><a href="">خدمات التدريب</a> <img src="arrow_bread.svg" alt=""></li>
                    <li>البرامج التدريبية</li>
                </ul>
            </div>
            <div class="share_btns">
                <a href=""><img src="print.svg" alt=""></a>
                <a href=""><img src="share.svg" alt=""></a>
                <a href=""><img src="email-icon.svg" alt=""></a>
            </div>
        </div>
        <div class="academy_title">
            <h5 class="title_text">
                البرامج التدريبية
            </h5>
            <div class="search_box">
                <div class="search_input">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="ابحث عن ...">
                </div>
                <button class="search_btn">
                  <i class="fa-solid fa-filter"></i>
                </button>
            </div>
            <div class="row mt-4 mb-4">
                <div class="col-md-4 mb-4">
                    <div class="card_g">
                        <div class="card_img">
                            <img src="card_img_3.png" alt="">
                        </div>
                        <div class="card_details_data">
                            <div class="title_card">
                                <h5>تطوير مهارات اعداد التقارير الرقابيه</h5>
                                <span><i class="fa-solid fa-star"></i> كن اول المقيمين</span>
                            </div>
                            <div class="government"><i class="fa-solid fa-building-ngo"></i> <span>الجهات الحكومية </span></div>
                            <p>يهدف اليتدريب المشاركين باستمرار بمهنيه عاليه جدا </p>
                            <div class="all-rebort">
                                <div class="edite_rebort"><i class="fa-solid fa-retweet"></i> <span>اعداد التقرير</span></div>
                                <div class="lang_card">
                                    <i class="fa-solid fa-globe"></i>
                                    <span>العربيه</span>
                                </div>
                            </div>
                            <div class="log_card">
                                <a href="">التسجيل</a>
                                <span><i class="fa-regular fa-heart"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card_g">
                        <div class="card_img">
                            <img src="card_img_3.png" alt="">
                        </div>
                        <div class="card_details_data">
                            <div class="title_card">
                                <h5>تطوير مهارات اعداد التقارير الرقابيه</h5>
                                <span><i class="fa-solid fa-star"></i> كن اول المقيمين</span>
                            </div>
                            <div class="government"><i class="fa-solid fa-building-ngo"></i> <span>الجهات الحكومية </span></div>
                            <p>يهدف اليتدريب المشاركين باستمرار بمهنيه عاليه جدا </p>
                            <div class="all-rebort">
                                <div class="edite_rebort"><i class="fa-solid fa-retweet"></i> <span>اعداد التقرير</span></div>
                                <div class="lang_card">
                                    <i class="fa-solid fa-globe"></i>
                                    <span>العربيه</span>
                                </div>
                            </div>
                            <div class="log_card">
                                <a href="">التسجيل</a>
                                <span><i class="fa-regular fa-heart"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card_g">
                        <div class="card_img">
                            <img src="card_img_3.png" alt="">
                        </div>
                        <div class="card_details_data">
                            <div class="title_card">
                                <h5>تطوير مهارات اعداد التقارير الرقابيه</h5>
                                <span><i class="fa-solid fa-star"></i> كن اول المقيمين</span>
                            </div>
                            <div class="government"><i class="fa-solid fa-building-ngo"></i> <span>الجهات الحكومية </span></div>
                            <p>يهدف اليتدريب المشاركين باستمرار بمهنيه عاليه جدا </p>
                            <div class="all-rebort">
                                <div class="edite_rebort"><i class="fa-solid fa-retweet"></i> <span>اعداد التقرير</span></div>
                                <div class="lang_card">
                                    <i class="fa-solid fa-globe"></i>
                                    <span>العربيه</span>
                                </div>
                            </div>
                            <div class="log_card">
                                <a href="">التسجيل</a>
                                <span><i class="fa-regular fa-heart"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card_g">
                        <div class="card_img">
                            <img src="card_img_3.png" alt="">
                        </div>
                        <div class="card_details_data">
                            <div class="title_card">
                                <h5>تطوير مهارات اعداد التقارير الرقابيه</h5>
                                <span><i class="fa-solid fa-star"></i> كن اول المقيمين</span>
                            </div>
                            <div class="government"><i class="fa-solid fa-building-ngo"></i> <span>الجهات الحكومية </span></div>
                            <p>يهدف اليتدريب المشاركين باستمرار بمهنيه عاليه جدا </p>
                            <div class="all-rebort">
                                <div class="edite_rebort"><i class="fa-solid fa-retweet"></i> <span>اعداد التقرير</span></div>
                                <div class="lang_card">
                                    <i class="fa-solid fa-globe"></i>
                                    <span>العربيه</span>
                                </div>
                            </div>
                            <div class="log_card">
                                <a href="">التسجيل</a>
                                <span><i class="fa-regular fa-heart"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card_g">
                        <div class="card_img">
                            <img src="card_img_3.png" alt="">
                        </div>
                        <div class="card_details_data">
                            <div class="title_card">
                                <h5>تطوير مهارات اعداد التقارير الرقابيه</h5>
                                <span><i class="fa-solid fa-star"></i> كن اول المقيمين</span>
                            </div>
                            <div class="government"><i class="fa-solid fa-building-ngo"></i> <span>الجهات الحكومية </span></div>
                            <p>يهدف اليتدريب المشاركين باستمرار بمهنيه عاليه جدا </p>
                            <div class="all-rebort">
                                <div class="edite_rebort"><i class="fa-solid fa-retweet"></i> <span>اعداد التقرير</span></div>
                                <div class="lang_card">
                                    <i class="fa-solid fa-globe"></i>
                                    <span>العربيه</span>
                                </div>
                            </div>
                            <div class="log_card">
                                <a href="">التسجيل</a>
                                <span><i class="fa-regular fa-heart"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card_g">
                        <div class="card_img">
                            <img src="card_img_3.png" alt="">
                        </div>
                        <div class="card_details_data">
                            <div class="title_card">
                                <h5>تطوير مهارات اعداد التقارير الرقابيه</h5>
                                <span><i class="fa-solid fa-star"></i> كن اول المقيمين</span>
                            </div>
                            <div class="government"><i class="fa-solid fa-building-ngo"></i> <span>الجهات الحكومية </span></div>
                            <p>يهدف اليتدريب المشاركين باستمرار بمهنيه عاليه جدا </p>
                            <div class="all-rebort">
                                <div class="edite_rebort"><i class="fa-solid fa-retweet"></i> <span>اعداد التقرير</span></div>
                                <div class="lang_card">
                                    <i class="fa-solid fa-globe"></i>
                                    <span>العربيه</span>
                                </div>
                            </div>
                            <div class="log_card">
                                <a href="">التسجيل</a>
                                <span><i class="fa-regular fa-heart"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
