<footer class="footer_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="list_footer">
                    <h6>نظرة عامة</h6>
                    <ul>
                        <li><a href="">نبذة عن المنصة</a></li>
                        <li><a href="">الخصوصية وشروط الاستخدام</a></li>
                        <li><a href="">كيفية استخدام المنصة</a></li>
                        <li><a href="">الاخبار والأحداث</a></li>
                        <li><a href="">اتفاقية مستوى الخدمة</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="list_footer">
                    <h6>روابط مهمة</h6>
                    <ul>
                        <li><a href="">بوابة الخدمة الوطنية</a></li>
                        <li><a href="">البيانات الحكومية المفتوحة</a></li>
                        <li><a href="">الاستراتيجية الوطنية للبيانات والذكاء الاصطناعي</a></li>
                        <li><a href="">بوابة البيانات المفتوحة</a></li>
                        <li><a href="">بوابة المشاركة الإلكترونية</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="list_footer">
                    <h6>الاتصال والدعم</h6>
                    <ul>
                        <li><a href="">تواصل معنا</a></li>
                        <li><a href="">تقديم شكوى</a></li>
                        <li><a href="">كيفية استخدام المنصة</a></li>
                        <li><a href="">الإبلاغ عن الفساد</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="list_footer">
                    <h6>للمتابعة والتواصل المباشر</h6>
                    <div class="footer_social">
                        <a href="" class="icon_footer"><img src="twitter.svg" alt=""></a>
                        <a href="" class="icon_footer"><img src="linkedin.svg" alt=""></a>
                        <a href="" class="icon_footer"><img src="Color Overlay.svg" alt=""></a>
                        <span>19990</span>
                    </div>
                    <h6>للمتابعة والتواصل المباشر</h6>
                    <div class="footer_social">
                        <a href="" class="icon_footer"><img src="eye-footer.svg" alt=""></a>
                        <a href="" class="icon_footer"><img src="plus.svg" alt=""></a>
                        <a href="" class="icon_footer"><img src="minus.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy_write_sec">
            <div class="row">
                <div class="col-md-6">
                    <div class="copy_write_data">
                        <div class="locatio_map">
                            <a href="">خريطة الموقع</a>
                            <a href="">RSS</a>
                        </div>
                        <h4>جميع الحقوق محفوظة – المركز الوطني لنظم الموارد الحكومية © 2025</h4>
                        <span>تاريخ آخر تعديل: 04/04/2025 - 4:13 م بتوقيت السعودية</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="all_logo_footer">
                        <div class="our_footer_logo">
                            <img src="f_logo_2.svg" alt="">
                        </div>
                        <div class="our_footer_logo">
                            <img src="f_logo_3.svg" alt="">
                        </div>
                        <div class="our_footer_logo">
                            <img src="f_logo_1.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
