<div class="sub_header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="date_sub_header">
                    <img src="date-outline-icon.svg" alt="">
                    <h5>الثلاثاء 08 أبريل 2025</h5>
                </div>
            </div>
            <div class="col-md-6">
                <div class="link_sub_header">
                    <a href=""><img src="view.svg" alt=""></a>
                    <a href=""><img src="search_1.svg" alt=""></a>
                    <a href=""><img src="search_2.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
