<div class="row ncgr-r01">
    <div class="container-xxl">
      <div class="row align-items-center justify-content-between">
        <div class="col-auto">
          <span>
            <img src="assets/img/icons/date-outline-icon.svg" alt="">
            <span class="d-inline-block ps-1">الثلاثاء 08 أبريل 2025</span>
          </span>
        </div>
        <div class="col-auto">
          <span>
            <a class="d-inline-block p-2" href="#" title="تغيير اللون"><img src="assets/img/icons/icon-eye.png" alt=""></a>
            <a class="d-inline-block p-2" href="#" title="تكبير الخط"><img src="assets/img/icons/icon-zoom-in.png" alt=""></a>
            <a class="d-inline-block p-2" href="#" title="تصغير الخط"><img src="assets/img/icons/icon-zoom-out.png" alt=""></a>
          </span>
        </div>
      </div>
    </div>
  </div>
  