<section class="create_program mt-4 mb-4">
    <div class="container">
        <div class="dashboard_pg_sec">
            <div class="dashboard_link_sec">
                <div class="side_bar">
                    <div class="list-sidbar">
                      <h4>روابط لوحة التحكم</h4>
                      <hr />
                      <ul>
                        <li *ngFor="let item of sidebarItems">
                          <ng-container *ngIf="!item.children">
                            <a [routerLink]="item.route" routerLinkActive="active">
                              <img [src]="item.icon" alt="" />
                              <span>{{ item.label }}</span>
                            </a>
                          </ng-container>
                  
                          <ng-container *ngIf="item.children">
                            <a class="btn" data-bs-toggle="collapse" href="#contentPages" role="button">
                              <img [src]="item.icon" alt="" />
                              <span>{{ item.label }}</span>
                            </a>
                            <div class="collapse collaps_item_list" id="contentPages">
                              <div class="sm_card_list">
                                <ul class="sm_list_dashboard">
                                  <li *ngFor="let child of item.children">
                                    <a [routerLink]="child.route">{{ child.label }}</a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </ng-container>
                        </li>
                      </ul>
                    </div>
                  </div>
            </div>
            <div class="dashboard_cards_sec">
                <div class="create_all_prog">
                    <div class="sm_inner_header">
                        <div>
                            <div class="breadcrumb_inner">
                                <ul>
                                    <li class="link_page"><a href="">الرئيسية</a> <img src="arrow_bread.svg" alt=""></li>
                                    <li class="link_page"><a href="">خدمات التدريب</a> <img src="arrow_bread.svg" alt=""></li>
                                    <li>البرامج التدريبية</li>
                                </ul>
                            </div>
                            <h5 class="title_text">البرامج التدريبية</h5>
                        </div>
                        <div class="log_in btn_general">
                            <a routerLink="./dashboard/add-training-program" >
                              +
                              إنشاء برنامج
                            </a>
                        </div>
                    </div>
                    <div class="search_box">
                        <div class="search_input">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <input type="text" placeholder="ابحث عن ...">
                        </div>
                        <div class="dropdown">
                            <button class="btn search_btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" focusable="false" color="var(--token-db1c7457-9e71-4ea2-8dd6-f4b3d4d6cf25, rgb(31, 31, 31))" style="user-select: none; width: 100%; height: 100%; display: inline-block; fill: var(--token-db1c7457-9e71-4ea2-8dd6-f4b3d4d6cf25, rgb(31, 31, 31)); color: var(--token-db1c7457-9e71-4ea2-8dd6-f4b3d4d6cf25, rgb(31, 31, 31)); flex-shrink: 0;"><g color="var(--token-db1c7457-9e71-4ea2-8dd6-f4b3d4d6cf25, rgb(31, 31, 31))" weight="regular"><path d="M176,80a8,8,0,0,1,8-8h32a8,8,0,0,1,0,16H184A8,8,0,0,1,176,80ZM40,88H144v16a8,8,0,0,0,16,0V56a8,8,0,0,0-16,0V72H40a8,8,0,0,0,0,16Zm176,80H120a8,8,0,0,0,0,16h96a8,8,0,0,0,0-16ZM88,144a8,8,0,0,0-8,8v16H40a8,8,0,0,0,0,16H80v16a8,8,0,0,0,16,0V152A8,8,0,0,0,88,144Z"></path></g></svg>
                          </button>
                            <ul class="dropdown-menu search_list_menu">
                                <div class="sb_menu_data">
                                    <h6>نوع الحالة</h6>
                                    <div class="input-form-check">
                                        <input type="checkbox">
                                        <label for="">مسودة</label>
                                    </div>
                                    <div class="input-form-check">
                                        <input type="checkbox">
                                        <label for="">مسودة</label>
                                    </div>
                                    <div class="input-form-check">
                                        <input type="checkbox">
                                        <label for="">مسودة</label>
                                    </div>
                                    <div class="input-form-check">
                                        <input type="checkbox">
                                        <label for="">مسودة</label>
                                    </div>
                                    <div class="input-form-check">
                                        <input type="checkbox">
                                        <label for="">مسودة</label>
                                    </div>
                                    <h6>لغه البرنامج</h6>
                                    <div class="input-form-check">
                                        <input type="checkbox">
                                        <label for="">العربية</label>
                                    </div>
                                    <div class="input-form-check">
                                        <input type="checkbox">
                                        <label for="">الانجليزيه</label>
                                    </div>
                                    <h6>الفئات المستهدفة</h6>
                                    <div class="slect_sbmenu">
                                        <select name="" id="">
                                        <option value="" disabled>اختر</option>
                                        <option value="">الفئه الاولي</option>
                                        <option value="">الفئه الثانيه</option>
                                        <option value="">الفئه الثالثه</option>
                                      </select>
                                    </div>
                                    <h6>المسار</h6>
                                    <div class="slect_sbmenu">
                                        <select name="" id="">
                                        <option value="" disabled>اختر</option>
                                        <option value="">الفئه الاولي</option>
                                        <option value="">الفئه الثانيه</option>
                                        <option value="">الفئه الثالثه</option>
                                      </select>
                                    </div>
                                    <h6>عدد المتدربين</h6>
                                    <div class="input-form-check">
                                        <input type="radio" id="up_l" name="fav_language" value="up_l">
                                        <label for="up_l">تصاعدي</label>
                                    </div>
                                    <div class="input-form-check">
                                        <input type="radio" id="dawn_l" name="fav_language" value="dawn_l">
                                        <label for="dawn_l">تنازلي</label>
                                    </div>
                                    <h6>تقييم</h6>
                                    <div class="input-form-check">
                                        <input type="radio" id="up_l1" name="fav_language" value="up_l1">
                                        <label for="up_l1">تصاعدي</label>
                                    </div>
                                    <div class="input-form-check">
                                        <input type="radio" id="dawn_l1" name="fav_language" value="dawn_l1">
                                        <label for="dawn_l1">تنازلي</label>
                                    </div>
                                </div>
                                <div class="submit_btn_style">
                                    <button class="applay">تطبيق</button>
                                    <button class="cancel">اعادة تعيين</button>
                                </div>
                            </ul>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4 mt-4">

                            <app-shared-card
                                 *ngFor="let report of reports"
                                 [title]="report.title"
                                 [creator]="report.creator"
                                 [createdDate]="report.createdDate"
                                 [approver]="report.approver"
                                 [approvedDate]="report.approvedDate"
                                 [category]="report.category"
                                 [participants]="report.participants"
                                 [rating]="report.rating"
                                 [tags]="report.tags"
                                 [postType]="report.postType"
                                 [postDate]="report.postDate"
                                 [statusOptions]="report.statusOptions"
                               ></app-shared-card>
                        </div>
                        <div class="col-md-4 mt-4">

                            <app-shared-card
                                 *ngFor="let report of reports"
                                 [title]="report.title"
                                 [creator]="report.creator"
                                 [createdDate]="report.createdDate"
                                 [approver]="report.approver"
                                 [approvedDate]="report.approvedDate"
                                 [category]="report.category"
                                 [participants]="report.participants"
                                 [rating]="report.rating"
                                 [tags]="report.tags"
                                 [postType]="report.postType"
                                 [postDate]="report.postDate"
                                 [statusOptions]="report.statusOptions"
                               ></app-shared-card>
                        </div>
                        <div class="col-md-4 mt-4">

                            <app-shared-card
                                 *ngFor="let report of reports"
                                 [title]="report.title"
                                 [creator]="report.creator"
                                 [createdDate]="report.createdDate"
                                 [approver]="report.approver"
                                 [approvedDate]="report.approvedDate"
                                 [category]="report.category"
                                 [participants]="report.participants"
                                 [rating]="report.rating"
                                 [tags]="report.tags"
                                 [postType]="report.postType"
                                 [postDate]="report.postDate"
                                 [statusOptions]="report.statusOptions"
                               ></app-shared-card>
                        </div>
                        <div class="col-md-4 mt-4">

                            <app-shared-card
                                 *ngFor="let report of reports"
                                 [title]="report.title"
                                 [creator]="report.creator"
                                 [createdDate]="report.createdDate"
                                 [approver]="report.approver"
                                 [approvedDate]="report.approvedDate"
                                 [category]="report.category"
                                 [participants]="report.participants"
                                 [rating]="report.rating"
                                 [tags]="report.tags"
                                 [postType]="report.postType"
                                 [postDate]="report.postDate"
                                 [statusOptions]="report.statusOptions"
                               ></app-shared-card>
                        </div>
                        <div class="col-md-4 mt-4">

                            <app-shared-card
                                 *ngFor="let report of reports"
                                 [title]="report.title"
                                 [creator]="report.creator"
                                 [createdDate]="report.createdDate"
                                 [approver]="report.approver"
                                 [approvedDate]="report.approvedDate"
                                 [category]="report.category"
                                 [participants]="report.participants"
                                 [rating]="report.rating"
                                 [tags]="report.tags"
                                 [postType]="report.postType"
                                 [postDate]="report.postDate"
                                 [statusOptions]="report.statusOptions"
                               ></app-shared-card>
                        </div>
                        <div class="col-md-4 mt-4">

                            <app-shared-card
                                 *ngFor="let report of reports"
                                 [title]="report.title"
                                 [creator]="report.creator"
                                 [createdDate]="report.createdDate"
                                 [approver]="report.approver"
                                 [approvedDate]="report.approvedDate"
                                 [category]="report.category"
                                 [participants]="report.participants"
                                 [rating]="report.rating"
                                 [tags]="report.tags"
                                 [postType]="report.postType"
                                 [postDate]="report.postDate"
                                 [statusOptions]="report.statusOptions"
                               ></app-shared-card>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
