<div class="accordion" id="accordionExample">
    <div class="accordion-item accordion_list_d">
        <div class="accordion-header acc_list_bar">
            <button class="accordion-button coolaps_btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"></button>
            <div class="accordion_heder">
                <div class="accordion_icon_l">
                    <img src="acc_icon_1.svg" alt="">
                    <span>تغيير ترتيب القسم</span>
                </div>
                <div class="accordion_icon_l">
                    <h6>تمهيد</h6>
                </div>
                <div class="accordion_icon_l">
                    <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#edit_lic">
        <img src="acc_icon_2.svg" alt="">
        <span>تعيل</span>
        </button>
                </div>
                <div class="accordion_icon_l">
                    <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#delete_lic">
        <img src="acc_icon_3.svg" alt="">
        <span>حذف</span>
        </button>
                </div>
            </div>
            <div class="add-new-lecture">
                <div class="dropdown">
                    <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <span> اضافة محاضرة +</span>
                  </button>
                    <ul class="dropdown-menu menu_needs_list">
                        <li><button class="dropdown-item btn " type="button" data-bs-toggle="modal" data-bs-target="#addvideo_lic">
                          <img src="acc_icon_40.svg" alt="">
                          <span>اضف فيديو</span>
                        </button></li>
                        <li><button class="dropdown-item btn " type="button" data-bs-toggle="modal" data-bs-target="#addtext_lic">
                          <img src="acc_icon_41.svg" alt="">
                          <span>اضف نص</span>
                        </button></li>
                        <li><button class="dropdown-item btn " type="button" data-bs-toggle="modal" data-bs-target="#addpdf_lic">
                          <img src="acc_icon_42.svg" alt="">
                          <span>اضف وثيقة (PDF)</span>
                        </button></li>
                        <li><button class="dropdown-item btn " type="button" data-bs-toggle="modal" data-bs-target="#addvoies_lic">
                          <img src="acc_icon_43.svg" alt="">
                          <span>اضف  ملف صوت</span>
                        </button></li>
                        <li><button class="dropdown-item btn " type="button" data-bs-toggle="modal" data-bs-target="#addimg_lic" type="button">
                          <img src="acc_icon_44.svg" alt="">
                          <span>اضف  ملف صورة</span>
                        </button></li>
                        <li><button class="dropdown-item btn " type="button" data-bs-toggle="modal" data-bs-target="#addtest_lic" type="button">
                          <img src="acc_icon_45.svg" alt="">
                          <span>اضف اختبار</span>
                        </button></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body small_card">
                <div class="list_in_card">
                    <div class="date_in_card">
                        <div class="accordion_icon_l">
                            <img src="acc_icon_1.svg" alt="">
                            <span>تغيير ترتيب القسم</span>
                        </div>
                        <div class="content_type accordion_icon_l">
                            <img src="acc_icon_41.svg" alt="">
                            <span>محتوي نص</span>
                        </div>
                        <h5>مقدمة عن التعاقد الرقمي</h5>
                    </div>
                    <div class="action_btns_t">
                        <button class="dropdown-item accordion_icon_l btn " type="button" data-bs-toggle="modal" data-bs-target="#edittext_lic">
                        <img src="acc_icon_46.svg" alt="">
                        <span>اضف نص</span>
                      </button>
                        <div class="accordion_icon_l">
                            <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#edit_lic">
            <img src="acc_icon_2.svg" alt="">
            <span>تعيل</span>
            </button>
                        </div>
                        <div class="accordion_icon_l">
                            <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#delete_lic">
            <img src="acc_icon_3.svg" alt="">
            <span>حذف</span>
            </button>
                        </div>
                    </div>
                </div>
                <div class="list_in_card">
                    <div class="date_in_card">
                        <div class="accordion_icon_l">
                            <img src="acc_icon_1.svg" alt="">
                            <span>تغيير ترتيب القسم</span>
                        </div>
                        <div class="content_type accordion_icon_l">
                            <img src="acc_icon_40.svg" alt="">
                            <span>محتوي فيديو</span>
                        </div>
                        <h5>الأساسيات القانونية للتعاقد الرقمي</h5>
                    </div>
                    <div class="action_btns_t">
                        <button class="dropdown-item accordion_icon_l btn " type="button" data-bs-toggle="modal" data-bs-target="#edittext_lic">
                      <img src="acc_icon_46.svg" alt="">
                      <span>اضف نص</span>
                    </button>
                        <div class="accordion_icon_l">
                            <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#edit_lic">
          <img src="acc_icon_2.svg" alt="">
          <span>تعيل</span>
          </button>
                        </div>
                        <div class="accordion_icon_l">
                            <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#delete_lic">
          <img src="acc_icon_3.svg" alt="">
          <span>حذف</span>
          </button>
                        </div>
                    </div>
                </div>
                <div class="list_in_card">
                    <div class="date_in_card">
                        <div class="accordion_icon_l">
                            <img src="acc_icon_1.svg" alt="">
                            <span>تغيير ترتيب القسم</span>
                        </div>
                        <div class="content_type accordion_icon_l">
                            <img src="acc_icon_42.svg" alt="">
                            <span>محتوي وثيقة</span>
                        </div>
                        <h5>أدوات وتقنيات التعاقد الرقمي</h5>
                    </div>
                    <div class="action_btns_t">
                        <button class="dropdown-item accordion_icon_l btn " type="button" data-bs-toggle="modal" data-bs-target="#edittext_lic">
                    <img src="acc_icon_46.svg" alt="">
                    <span>اضف نص</span>
                  </button>
                        <div class="accordion_icon_l">
                            <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#edit_lic">
        <img src="acc_icon_2.svg" alt="">
        <span>تعيل</span>
        </button>
                        </div>
                        <div class="accordion_icon_l">
                            <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#delete_lic">
        <img src="acc_icon_3.svg" alt="">
        <span>حذف</span>
        </button>
                        </div>
                    </div>
                </div>
                <div class="list_in_card">
                    <div class="date_in_card">
                        <div class="accordion_icon_l">
                            <img src="acc_icon_1.svg" alt="">
                            <span>تغيير ترتيب القسم</span>
                        </div>
                        <div class="content_type accordion_icon_l">
                            <img src="acc_icon_43.svg" alt="">
                            <span>محتوي صوت</span>
                        </div>
                        <h5>أمن المعلومات في التعاقد الرقمي</h5>
                    </div>
                    <div class="action_btns_t">
                        <button class="dropdown-item accordion_icon_l btn " type="button" data-bs-toggle="modal" data-bs-target="#edittext_lic">
                  <img src="acc_icon_46.svg" alt="">
                  <span>اضف نص</span>
                </button>
                        <div class="accordion_icon_l">
                            <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#edit_lic">
      <img src="acc_icon_2.svg" alt="">
      <span>تعيل</span>
      </button>
                        </div>
                        <div class="accordion_icon_l">
                            <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#delete_lic">
      <img src="acc_icon_3.svg" alt="">
      <span>حذف</span>
      </button>
                        </div>
                    </div>
                </div>
                <div class="list_in_card">
                    <div class="date_in_card">
                        <div class="accordion_icon_l">
                            <img src="acc_icon_1.svg" alt="">
                            <span>تغيير ترتيب القسم</span>
                        </div>
                        <div class="content_type accordion_icon_l">
                            <img src="acc_icon_44.svg" alt="">
                            <span>محتوي صورة</span>
                        </div>
                        <h5>انفوجرافيك لانواع العقود الرقمية</h5>
                    </div>
                    <div class="action_btns_t">
                        <button class="dropdown-item accordion_icon_l btn " type="button" data-bs-toggle="modal" data-bs-target="#edittext_lic">
                <img src="acc_icon_46.svg" alt="">
                <span>اضف نص</span>
              </button>
                        <div class="accordion_icon_l">
                            <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#edit_lic">
    <img src="acc_icon_2.svg" alt="">
    <span>تعيل</span>
    </button>
                        </div>
                        <div class="accordion_icon_l">
                            <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#delete_lic">
    <img src="acc_icon_3.svg" alt="">
    <span>حذف</span>
    </button>
                        </div>
                    </div>
                </div>
                <div class="list_in_card">
                    <div class="date_in_card">
                        <div class="accordion_icon_l">
                            <img src="acc_icon_1.svg" alt="">
                            <span>تغيير ترتيب القسم</span>
                        </div>
                        <div class="content_type accordion_icon_l">
                            <img src="acc_icon_41.svg" alt="">
                            <span>اختبار</span>
                        </div>
                        <h5>اختبر معلوماتك</h5>
                        <div class="all_question">
                            <span>الاسئلة الحالية: 2</span>
                            <span>الدرجات الحالية: 5 / 10</span>
                        </div>
                    </div>
                    <div class="action_btns_t">
                        <div class="add_new_qus">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="acc_icon_48.svg" alt="">
                          </button>
                                <ul class="dropdown-menu menu_needs_list">
                                    <li><button class="dropdown-item btn " type="button" data-bs-toggle="modal" data-bs-target="#addvideo_lic">
                              <img src="011.svg" alt="">
                              <span>اضف سؤال اختيار من متعدد</span>
                            </button></li>
                                    <li><button class="dropdown-item btn " type="button" data-bs-toggle="modal" data-bs-target="#addtext_lic">
                              <img src="012.svg" alt="">
                              <span>أضف سؤال صواب وخطأ</span>
                            </button></li>

                                </ul>
                            </div>

                        </div>
                        <button class="dropdown-item accordion_icon_l btn " type="button" data-bs-toggle="modal" data-bs-target="#edittext_lic">
              <img src="acc_icon_46.svg" alt="">
              <span>اضف نص</span>
            </button>
                        <div class="accordion_icon_l">
                            <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#edit_lic">
  <img src="acc_icon_2.svg" alt="">
  <span>تعيل</span>
  </button>
                        </div>
                        <div class="accordion_icon_l">
                            <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#delete_lic">
  <img src="acc_icon_3.svg" alt="">
  <span>حذف</span>
  </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- ****************************** -->
<!-- Modal -->
<div class="modal fade" id="edit_lic" tabindex="-1" aria-labelledby="edit_licLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header m_header">
                <h1 class="modal-title modal_title"><img src="acc_icon_2.svg" alt=""><span>  تعديل قسم</span></h1><button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close"></button></div>
            <div class="modal-body">
                <div class="form_modal">
                    <div class="form_c"><label for="">اسم  القسم (بالعربية)</label><input type="text" name="" id="" placeholder="ادخل اسم القسم بالعربيه"></div>
                    <div class="form_c"><label for="">اسم  القسم (بالعربية)</label><input type="text" name="" id="" placeholder="ادخل اسم القسم بالعربيه"></div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal_f_btns">
                    <button type="button" class="add">حفظ التعديل</button>
                    <button type="button" data-bs-dismiss="modal">الغاء</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="delete_lic" tabindex="-1" aria-labelledby="delete_licLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header m_header">
                <h1 class="modal-title modal_title"><img src="acc_icon_5.svg" alt=""><span>   تأكيد الحذف</span></h1><button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close"></button></div>
            <div class="modal-body">
                <div class="form_modal">
                    <p>هل أنت متأكد من رغبتك في حذف قسم "تمهيد " ؟</p>
                    <p>سيتم حذف القسم وما يحتويه من محاضرات بشكل دائم ولن تتمكن من استعادتها.</p>
                    <p>اضغط "تأكيد الحذف" لإكمال العملية أو "إلغاء" للتراجع.</p>
                </div>

            </div>
            <div class="modal-footer">
                <div class="modal_f_btns">
                    <button type="button" class="add">تاكيد</button>
                    <button type="button" data-bs-dismiss="modal">الغاء</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="addvideo_lic" tabindex="-1" aria-labelledby="addvideo_licLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header m_header">
                <h1 class="modal-title modal_title sm_modal"><img src="acc_icon_40.svg" alt=""><span>   اضافة فيديو</span></h1><button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close"></button></div>
            <div class="modal-body">
                <div class="form_modal">
                    <div class="form_c">
                        <label for="">عنوان المحاضرة (بالعربية)</label>
                        <input type="text" name="" id="" placeholder="ادخل اسم المحاضرة بالعربيه">
                    </div>
                    <div class="form_c">
                        <label for="">عنوان المحاضرة (بالانجليزية)</label>
                        <input type="text" name="" id="" placeholder="ادخل اسم المحاضرة بالانجليزية">
                    </div>
                    <div class="form_c">
                        <div class="radio_label">
                            <input type="radio" id="age1" name="age" value="30">
                            <label for="age1">ملف فيديو من نوع MP4</label>
                        </div>
                        <div class="choose_result">
                            <input type="file" name="" id="">
                        </div>
                    </div>
                    <div class="form_c">
                        <div class="radio_label">
                            <input type="radio" id="age2" name="age" value="30">
                            <label for="age2">رابط علي اليوتيوب  </label>
                        </div>
                        <div class="choose_result">
                            <input type="text" name="" id="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal_f_btns">
                    <button type="button" class="add">تاكيد</button>
                    <button type="button" data-bs-dismiss="modal">الغاء</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addtext_lic" tabindex="-1" aria-labelledby="addtext_licLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header m_header">
                <h1 class="modal-title modal_title sm_modal"><img src="acc_icon_41.svg" alt=""><span>   اضافة نص</span></h1><button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close"></button></div>
            <div class="modal-body">
                <div class="form_modal">
                    <div class="form_c">
                        <label for="">عنوان المحاضرة (بالعربية)</label>
                        <input type="text" name="" id="" placeholder="ادخل اسم المحاضرة بالعربيه">
                    </div>
                    <div class="form_c">
                        <label for="">عنوان المحاضرة (بالانجليزية)</label>
                        <input type="text" name="" id="" placeholder="ادخل اسم المحاضرة بالانجليزية">
                    </div>
                    <div class="form_c">
                        <label for="">محتوي المحاضرة (نص)</label>
                        <textarea name="" id=""></textarea>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <div class="modal_f_btns">
                    <button type="button" class="add">تاكيد</button>
                    <button type="button" data-bs-dismiss="modal">الغاء</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="addpdf_lic" tabindex="-1" aria-labelledby="addpdf_licLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header m_header">
                <h1 class="modal-title modal_title sm_modal"><img src="acc_icon_42.svg" alt=""><span>   اضافة وثيقة</span></h1><button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close"></button></div>
            <div class="modal-body">
                <div class="form_modal">
                    <div class="form_c">
                        <label for="">عنوان المحاضرة (بالعربية)</label>
                        <input type="text" name="" id="" placeholder="عنوان  المحاضرة بالعربيه">
                    </div>
                    <div class="form_c">
                        <label for="">عنوان المحاضرة (بالانجليزية)</label>
                        <input type="text" name="" id="" placeholder="عنوان  المحاضرة بالانجليزية">
                    </div>
                    <div class="form_c">

                        <div class="choose_result">
                            <label for="">اضف ملف PDF</label>
                            <input type="file" name="" id="">
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <div class="modal_f_btns">
                    <button type="button" class="add">تاكيد</button>
                    <button type="button" data-bs-dismiss="modal">الغاء</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="addvoies_lic" tabindex="-1" aria-labelledby="addvoies_licLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header m_header">
                <h1 class="modal-title modal_title sm_modal"><img src="acc_icon_43.svg" alt=""><span>    اضافة ملف صوت</span></h1><button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close"></button></div>
            <div class="modal-body">
                <div class="form_modal">
                    <div class="form_c">
                        <label for="">عنوان المحاضرة (بالعربية)</label>
                        <input type="text" name="" id="" placeholder="عنوان  المحاضرة بالعربيه">
                    </div>
                    <div class="form_c">
                        <label for="">عنوان المحاضرة (بالانجليزية)</label>
                        <input type="text" name="" id="" placeholder="عنوان  المحاضرة بالانجليزية">
                    </div>
                    <div class="form_c">

                        <div class="choose_result">
                            <label for=""> اضف ملف صوت mp3</label>
                            <input type="file" name="" id="">
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <div class="modal_f_btns">
                    <button type="button" class="add">تاكيد</button>
                    <button type="button" data-bs-dismiss="modal">الغاء</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="addimg_lic" tabindex="-1" aria-labelledby="addimg_licLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header m_header">
                <h1 class="modal-title modal_title sm_modal"><img src="acc_icon_44.svg" alt=""><span>    اضافة ملف صورة</span></h1><button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close"></button></div>
            <div class="modal-body">
                <div class="form_modal">
                    <div class="form_c">
                        <label for="">عنوان المحاضرة (بالعربية)</label>
                        <input type="text" name="" id="" placeholder="عنوان  المحاضرة بالعربيه">
                    </div>
                    <div class="form_c">
                        <label for="">عنوان المحاضرة (بالانجليزية)</label>
                        <input type="text" name="" id="" placeholder="عنوان  المحاضرة بالانجليزية">
                    </div>
                    <div class="form_c">

                        <div class="choose_result">
                            <label for=""> اضف ملف صورة </label>
                            <input type="file" name="" id="">
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <div class="modal_f_btns">
                    <button type="button" class="add">تاكيد</button>
                    <button type="button" data-bs-dismiss="modal">الغاء</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addtest_lic" tabindex="-1" aria-labelledby="addtest_licLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 60%;">
        <div class="modal-content">
            <div class="modal-header m_header">
                <h1 class="modal-title modal_title sm_modal"><img src="acc_icon_45.svg" alt=""><span>اضافة اختبار</span></h1><button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close"></button></div>
            <div class="modal-body">
                <div class="form_modal">
                    <div class="form_c">
                        <label for="">عنوان الاختبار  (بالعربية)</label>
                        <input type="text" name="" id="" placeholder="عنوان  الاختبار  بالعربيه">
                    </div>
                    <div class="form_c">
                        <label for="">عنوان الاختبار  (بالانجليزية)</label>
                        <input type="text" name="" id="" placeholder="عنوان  الاختبار  بالانجليزية">
                    </div>
                    <div class="text_type">
                        <h6>نوع الاختبار</h6>
                        <div class="test_type_form">
                            <div class="check_type">
                                <div class="form_rad">
                                    <input type="radio" id="age12" name="check_1" value="30">
                                    <label for="age12">الكتروني </label>
                                </div>
                                <div class="form_rad">
                                    <input type="radio" id="age13" name="check_1" value="30">
                                    <label for="age13">حضوري </label>
                                </div>
                            </div>
                            <div class="form_c">
                                <label for="">مجموع الدرجات</label>
                                <input type="text" placeholder="ادخل مجموع الدرجات">
                            </div>
                            <div class="form_c">
                                <label for="">درجة النجاح</label>
                                <input type="text" placeholder="ادخل درجة النجاح">
                            </div>
                        </div>
                        <div class="form_c">
                            <label for="">مكان الاختبار (في حال الاختبار الحضوري)</label>
                            <input type="text" placeholder="ادخل مكان الاختبار">
                        </div>
                        <h6>هل الاختبار محدد بموعد؟</h6>
                        <div class="test_type_form">
                            <div class="check_type">
                                <div class="form_rad">
                                    <input type="radio" id="age14" name="check_2" value="30">
                                    <label for="age14">نعم </label>
                                </div>
                                <div class="form_rad">
                                    <input type="radio" id="age15" name="check_2" value="30">
                                    <label for="age15">لا </label>
                                </div>
                            </div>
                            <div class="form_c">
                                <label for="">تاريخ الاختبار</label>
                                <input type="date">
                            </div>
                            <div class="form_c">
                                <label for="">وقت الاختبار</label>
                                <input type="time">
                            </div>
                        </div>
                        <div class="form_c">
                            <label for="">مدة الاختبار (بالدقائق)</label>
                            <input type="text" placeholder="ادخل مكان الاختبار">
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <div class="modal_f_btns">
                    <button type="button" class="add">تاكيد</button>
                    <button type="button" data-bs-dismiss="modal">الغاء</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="edittext_lic" tabindex="-1" aria-labelledby="edittext_licLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header m_header">
                <h1 class="modal-title modal_title sm_modal"><img src="acc_icon_41.svg" alt=""><span>عرض المحتوي</span></h1><button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close"></button></div>
            <div class="modal-body">
                <div class="form_modal">
                    <p>مقدمة عن التعاقد الرقمي</p>
                    <em>العقد الالكتروني هو اتفاق يُبرم على الإنترنت و ينشئ التزاما متبادلا بين طرفين و يكون قابلا للإنفاذ بمقتضى اشتراطات قانونية معينة. في العقود الالكترونية، يتم إبرام الاتفاقات عبر الإنترنت. بدلاً من التفاعل شخصيًا أو عبر الهاتف، يتواصل
                        الطرفان رقميًا. على الرغم من أن العقد الالكتروني رقمي، إلا أنه لا يزال عقدًا.</em>

                </div>
            </div>
            <div class="modal-footer">
                <div class="modal_f_btns">
                    <button type="button" class="add" data-bs-dismiss="modal">اغلاق</button>
                </div>
            </div>
        </div>
    </div>
</div>
