$black-color:#000;
$white-color:#ffffff;
$text-color:#222222;
$sm-text-color:#216445;
$main-background-color:#166A45;
$main-fontSize-10:10px;
$main-fontSize-12:12px;
$main-fontSize-14:14px;
$main-fontSize-16:16px;
$main-fontSize-18:18px;
$main-fontSize-20:20px;
$main-fontSize-22:22px;
$main-fontSize-24:24px;
$main-fontSize-28:28px;
$main-fontSize-30:30px;
$main-fontSize-36:36px;
$main-fontSize-38:38px;
// end var
$start-dir:right;
$end-dir:left;
$ar-dir:rtl;
$en-dir:ltr;
// ************************
@mixin flex-bar-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-bar-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-bar-start {
    display: flex;
    align-items: center;
    justify-content: start;
}

@mixin flex-bar-end {
    display: flex;
    align-items: center;
    justify-content: end;
}

@mixin img-property {
    width: auto;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    max-width: 100%;
    min-width: 100%;
}

@for $i from 1 through 20 {
    .w-#{$i *5}- {
        width: $i *5px;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    // font-family: $font-main;
}

p {
    margin: 0;
}

em {
    font-style: normal;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.text-start {
    text-align: start !important;
}

.text-end {
    text-align: end;
}

.text-center {
    text-align: center;
}

ol,
ul,
h1,
h2,
h3,
h5,
h4,
h6 {
    margin: 0;
    padding: 0;
}

.pxt {
    margin-top: 50px;
}

.pxl {
    margin-top: 150px;
}

a {
    text-decoration: none !important;
    color: inherit;
}

html {
    overflow-x: hidden;
}

body {
    width: 100vw;
    overflow-x: hidden;
    display: block;
    // font-family: 'DIN Next LT Arabic';
    font-family: "IBM Plex Sans Arabic", sans-serif;
    text-align: start;
}

:focus-visible,
.form-control:focus,
button:focus {
    outline: none;
    box-shadow: unset;
}

.nave-responsive {
    display: none;
}

.ng-container {
    width: 90%;
    margin: 0 auto;
}

// *************************************************
.sub_header {
    background: $main-background-color;
    width: 100%;
    padding: 10px 0;
    .date_sub_header {
        @include flex-bar-start;
        img {
            width: 20px;
            height: 20px;
        }
        h5 {
            color: $white-color;
            font-size: $main-fontSize-14;
            font-weight: 600;
            padding-inline-start: 10px;
        }
    }
    .link_sub_header {
        @include flex-bar-end;
        a {
            img {
                width: 20px;
                height: 20px;
                margin: 0 10px;
            }
        }
    }
}

// ****************** main_header *************
header.main_header {
    background: #F9FAFB;
    padding: 20px 0;
    .navbar_side {
        @include flex-bar-start;
        .logo {
            width: 166px;
            height: 76px;
            img {
                width: 100%;
                height: 100%;
                // padding: 5px;
            }
        }
        ul.list_nav {
            @include flex-bar-start;
            padding-inline-start: 40px;
            li.item_list {
                font-size: $main-fontSize-16;
                color: $text-color;
                padding: 0 10px;
                position: relative;
                font-weight: 600;
                transition: .3s ease-in-out;
                -webkit-transition: .3s ease-in-out;
                -moz-transition: .3s ease-in-out;
                -ms-transition: .3s ease-in-out;
                -o-transition: .3s ease-in-out;
                button {
                    font-size: inherit;
                    color: inherit;
                    font-weight: 600;
                }
                &:hover {
                    transition: .3s ease-in-out;
                    color: $main-background-color;
                }
                &.active {
                    transition: .3s ease-in-out;
                    color: $main-background-color;
                    &:before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 4px;
                        background: #D4A844;
                        bottom: -5px;
                        right: 0;
                        border-radius: 20px;
                    }
                }
            }
        }
    }
    .lang_log {
        @include flex-bar-end;
        .lang_btn {
            button {
                @include flex-bar-center;
                border: unset;
                background: unset;
                margin: 0 20px;
                img {
                    width: 20px;
                    height: 20px;
                }
                span {
                    font-size: $main-fontSize-16;
                    font-weight: 600;
                    color: $text-color;
                    padding: 0 5px;
                }
            }
        }
    }
}

// ******************** general style ***********
.btn_general {
    a {
        background: $main-background-color;
        padding: 9px 18px;
        border-radius: 6px;
        color: $white-color;
        font-size: $main-fontSize-16;
        font-weight: 600;
    }
}

h5.title_text {
    color: $sm-text-color;
    font-size: $main-fontSize-30;
    font-weight: 500;
    padding-bottom: 20px;
}

// ****************about_academy *************************
.about_academy {
    margin: 50px 0;
}

.img_sec {
    display: flex;
    justify-content: end;
    img {
        width: 100%;
        height: 500px;
    }
}

.about_sec_academey {
    span {
        font-size: $main-fontSize-22;
        color: #343537;
        font-weight: 500;
        padding-bottom: 5px;
        display: block;
    }
    p {
        color: #343434;
        font-size: $main-fontSize-16;
        display: block;
        font-weight: 400;
        line-height: 35px;
        padding-bottom: 20px;
    }
}

// ************ our news *************
.our_news {
    background: #F8F8F8;
    padding: 50px 0;
    .news_text {
        p {
            font-size: $main-fontSize-16;
            color: $text-color;
            font-weight: 400;
        }
    }
    .show_all {
        a {
            border: 1px solid #D2D6DB;
            padding: 8px 16px;
            background: $white-color;
            border-radius: 6px;
            font-size: $main-fontSize-14;
            font-weight: 500;
            color: $text-color;
        }
    }
}

.card_our_new {
    background: $white-color;
    box-shadow: 0px 2px 8px #1018281A;
    padding: 15px;
    border-radius: 12px;
    @include flex-bar-between;
    align-items: start;
    .card_details {
        h6 {
            color: $sm-text-color;
            font-size: $main-fontSize-20;
            padding: 10px 0;
            display: block;
            font-weight: 600;
        }
        p {
            color: $text-color;
            font-size: $main-fontSize-16;
            font-weight: 400;
            padding: 10px 0 50px 0;
        }
    }
    .card_img {
        width: 350px;
        height: 250px;
        max-width: 350px;
        min-width: 350px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

// ******************* our_accomplishments
.our_accomplishments {
    background: $main-background-color;
    padding: 50px 0;
    .accomplishments_text {
        h6 {
            color: #F9F9FB;
            font-size: $main-fontSize-30;
            padding-bottom: 10px;
            font-weight: 500;
        }
        span {
            color: #FEDF89;
            font-size: $main-fontSize-16;
            padding-bottom: 10px;
            display: block;
            font-weight: 400;
        }
    }
    .date_sec_accom span {
        color: $white-color;
        font-size: $main-fontSize-16;
        font-weight: 400;
    }
}

.sm_card {
    background: #FFFFFFE6;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    img {
        display: block;
        width: 46px;
        height: 50px;
        margin: 5px auto;
    }
    strong {
        color: $main-background-color;
        font-size: $main-fontSize-28;
        text-align: center;
        display: block;
    }
    span {
        color: $text-color;
        font-size: $main-fontSize-14;
        display: block;
        font-weight: 600;
    }
}

// ***********************most-interactive
.most-interactive {
    padding: 50px 0;
    background: $white-color;
}

.slider_img_sec {
    width: max-content;
    margin: 0 15px;
    height: 85px;
}

a.nav_icon {
    font-size: 18px;
    width: 30px !important;
    height: 29px !important;
    background: #F3F4F6;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #161616 !important;
}

// ******************* footer ***************
footer.footer_sec {
    background: #074D31;
    padding: 50px 0;
}

.list_footer {
    h6 {
        color: $white-color;
        font-size: $main-fontSize-18;
        padding-bottom: 20px;
        font-weight: 600;
        border-bottom: 1px solid #f9fafb78;
        margin-bottom: 20px;
    }
    ul {
        li {
            color: $white-color;
            font-size: $main-fontSize-16;
            font-weight: 400;
            line-height: 32px;
        }
    }
    .footer_social {
        @include flex-bar-start;
        margin-bottom: 20px;
        a.icon_footer {
            @include flex-bar-center;
            width: 30px;
            height: 30px;
            border: 1px solid #d4d4d4;
            margin: 0 10px;
            border-radius: 4px;
            img {
                width: 22px;
                height: 22px;
                padding: 3px;
            }
        }
        span {
            color: $white-color;
            font-size: $main-fontSize-16;
            font-weight: 400;
        }
    }
}

.copy_write_sec {
    margin-top: 50px;
}

.copy_write_data {
    .locatio_map {
        padding-bottom: 20px;
        a {
            color: $white-color;
            font-size: $main-fontSize-16;
            margin-inline-end: 30px;
            text-decoration: underline !important;
        }
    }
    h4 {
        color: $white-color;
        font-size: $main-fontSize-16;
        font-weight: 600;
        padding-bottom: 20px;
    }
    span {
        font-size: $main-fontSize-14;
        color: $white-color;
        font-weight: 400;
    }
}

.all_logo_footer {
    @include flex-bar-end;
    .our_footer_logo {
        margin-inline-start: 20px;
    }
}
