<header class="main_header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9">
                <div class="navbar_side">
                    <div class="logo">
                        <img src="logo.svg" alt="">
                    </div>
                    <nav>
                        <ul class="list_nav">
                            <li class="item_list active"><a href="">الرئيسية</a></li>
                            <li class="item_list "><a href="">عن الاكاديمية</a></li>
                            <li class="item_list ">
                                <a href="">
                                    <div class="dropdown">
                                        <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"> خدمات التديب</button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        </ul>
                                    </div>
                                </a>
                            </li>
                            <li class="item_list "><a href="">مكتبة الوسائط</a></li>
                            <li class="item_list "><a href="">التحقق من الشهادة</a></li>
                            <li class="item_list "><a href="">تواصل معنا</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-3">
                <div class="lang_log">
                    <div class="lang_btn">
                        <button><img src="header-lang.svg" alt="">
                        <span>English</span>
                      </button>
                    </div>
                    <div class="log_in btn_general">
                        <a href="">تسجيل الدخول</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
